
//검색기능
body{
		margin:0; padding:0;
		background: white;
	}
	a {
		text-decoration: none;
	}
	.search-box{
		position: fixed;
		top: 8%; left: 93%;
		transform: translate(-50%, -50%);
		background: #2f3640;
		height: 30px;
		border-radius: 40px;
		padding: 8px;
	}

	/*.search-box:hover > .search-txt {
		width: 210px;
		padding:0 6px;
	}*/

	.search-box:hover > .search-btn {
		background: white;
		color: #1e1e1e;
	}

	.search-btn{
		color:#d9d9d9;
		float: right;
		width: 40px; height: 40px;
		border-radius: 50%;
		background:#1e1e1e;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.4s;
	}

	.search-txt {
		border : none;
		background : none;
		outline: none;
		float: left;
		padding: 0;
		color: white;
		font-size: 16px;
		transition: 0.4s;
		line-height: 40px;
		width: 0px;
	}
